USE [QL_NhanSu]
GO
/****** Object:  Table [dbo].[tbl_Department]    Script Date: 9/30/2025 5:48:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Department](
	[DeptId] [char](10) NOT NULL,
	[Ten] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 9/30/2025 5:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[Id] [char](10) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[Gender] [nvarchar](5) NULL,
	[City] [nvarchar](50) NULL,
	[DeptId] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Department] ([DeptId], [Ten]) VALUES (N'1         ', N'Khoa CNTT')
INSERT [dbo].[tbl_Department] ([DeptId], [Ten]) VALUES (N'2         ', N'Khoa Ngoại Ngữ')
INSERT [dbo].[tbl_Department] ([DeptId], [Ten]) VALUES (N'3         ', N'Khoa tài chính')
GO
INSERT [dbo].[tbl_Employee] ([Id], [TEN], [Gender], [City], [DeptId]) VALUES (N'1         ', N'Nguyễn Hải Yến', N'Nữ', N'Đà Lạt', N'1         ')
INSERT [dbo].[tbl_Employee] ([Id], [TEN], [Gender], [City], [DeptId]) VALUES (N'14        ', N'Phan Thị Ngọc Mai', N'Nữ', N'Bến Tre', N'3         ')
INSERT [dbo].[tbl_Employee] ([Id], [TEN], [Gender], [City], [DeptId]) VALUES (N'15        ', N'Trương Nguyễn Quỳnh Anh', N'Nữ', N'TP.HCM', N'4         ')
GO
ALTER TABLE [dbo].[tbl_Employee]  WITH CHECK ADD FOREIGN KEY([DeptId])
REFERENCES [dbo].[tbl_Department] ([DeptId])
GO
